<h1>Ludvig Kalberg</h1>
<p>I'm an IT-support apprentice from Norway, working mostly with Azure, programming and cybersecurity.
I'm always trying to get better at what I do.

<p>Outside of work I go bouldering, play computer games and also spend time with IT stuff at home.</p>

<p>You can find my work on GitHub or via email.</p>

