<div class="container mx-auto px-4 pt-16 max-w-2xl">
    <div class="space-y-4">
        <h1 class="text-4xl font-bold">Ludvig Kalberg</h1>
        <p>I'm an IT-support apprentice from Norway, working mostly with Azure, programming and cybersecurity.
        I'm always trying to get better at what I do.</p>

        <p>Outside of work I go bouldering, play computer games and also spend time with IT stuff at home.</p>

        <p>You can reach me and my work on <a href="https://github.com/ludvix" class="transition-colors underline underline-offset-2
         decoration-indigo-600 hover:decoration-indigo-300
          dark:decoration-indigo-400 dark:hover:decoration-indigo-200">GitHub</a> 
          or via <a href="/contact" class="transition-colors underline underline-offset-2
         decoration-emerald-600 hover:decoration-emerald-300
          dark:decoration-emerald-400 dark:hover:decoration-emerald-200">Email</a>.</p>
    </div>
</div>